@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body,html{
  margin: 0;
  /* overflow-x: auto; */
  /* padding-right: 0 !important; */
  /* width: 95%; */
  font-family: "Open Sans", sans-serif;
}
.navbar {
  /* background-color: #333; Navbar background color */
  background-color:#303030 ;
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding for the navbar */
  /* //background: transparent; */
  /* opacity: 0.7; */
  display: flex; /* Make the navbar flex container */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  /* padding: 10px; */
  width: 100%;
  position: fixed;
  z-index: 3;
  /* width:100vw; */
  /* width: 100%; */
  
}

.tab__bJxhD {
    background-color: transparent;
    border: none;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 600;
    border-radius: 40px;
    color: white;
    
    font-family: Inter,sans-serif;
    font-size: 17px;
    padding: 8px;
    padding-left: 40px;
    transition: .8s;
    white-space: nowrap
}


.nav-item-div:hover{ 
  transition: 0.5s;
  color: rgb(39, 214, 188);
}

.nav-left{
  margin-left: 550px;
}

.navbar-brand {
  
  font-family: Inter,sans-serif;
  font-size: 20px; /* Font size for the company name */
  color: #5c977c; /* Company name color */
  color: #5c977c; /* Updated company text color */
}

.navbar-item {
  font-size: 5px;
  margin-right: 10px; /* Margin between navbar items */
  
}

.button {
  background-color: #eef5f2; /* Button background color */
  color: #160457; /* Button text color */
  border: 2px; /* Remove button border */
  padding: 10px 35px; /* Padding for the button */
  font-size: 16px; /* Button font size */
  cursor: pointer;        /* Change cursor to pointer on hover */
  border-radius: 15px;
  font-weight: bold;
  
  transition: background-color 0.3s, color 0.3s;
 
  
}

.button:hover {
  background-color: #459a7a; 
  color:white/* Button background color on hover */
}


.button-is-primary{
  font-family: Open Sans;
}