

  /* General Styles */
  .fd-new-investment {
    display: flex;
    color: #5c5b5b;
    font-family: sans-serif;
  }
  
  .fd-funds-list {
    width: 70%;
    padding: 20px;
  }
  
  .fd-calculator {
    width: 50%;
    padding: 20px;
    height: 100vh;
    background-color: #fefbfb;
  }
  
  .fd-investment-type {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .fd-investment-type button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3c7e63;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .fd-investment-type button:hover {
    background-color: #126c46;
  }
  
  .fd-calculator label {
    display: block;
    margin-bottom: 10px;
  }
  
  .fd-calculator input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .fd-calculator button {
    padding: 10px 20px;
    background-color: #3c7e63;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .fd-calculator button:hover {
    background-color: #126c46;
  }
  
  .fd-calculator p {
    margin-top: 10px;
  }
  
  /* Table Styles */
  .fd-funds-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .fd-funds-list th,
  .fd-funds-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .fd-funds-list th {
    background-color: #f2f2f2;
  }
  
  .fd-funds-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .fd-funds-list tr:hover {
    background-color: #ddd;
  }
  
.fd-center{
    text-align: center;
    font-size:250%;
}

.last-fixed-deposit{
    position: relative;
    top: 20%;
    left: 10%;
    /* background-color: #126c46; */
    width: 80%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #06bc70;;
    background-color:#fefbfb;
    border-radius: 5px;
  }
  .select-small {
    font-size: 16px; 
    padding: 8px; 
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%; 
    box-sizing: border-box; 
  }

  .last-fixed-deposit img{
    position: relative;
    bottom: 45px;
    width: 40px;
    height: 40px;
  }

  .last-fixed-deposit .fixed-deposit-para-amt{
    text-align: center;
    position: absolute;
  }

  .last-fixed-deposit .fixed-deposit-para-amt-2{
position: relative;
top: 14px;
  }