.advisor-wrapper-login{
  width: 1000px;
  padding: 30px;
 
 
}
.advisor-view-Button {
  background: #5E5E5E;
  border-radius: 50px;
  color: #fb2323;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  padding: 8px 24px;
}


.tableHeaderRow {
  background-color: #D9D9D9 !important;
  color: white !important;
}

.tableHeaderCell {
  color: #413d3d!important;
  font-weight:bold !important;
 
}


th, td {
  border: none; /* Set the border color to white for visibility */
  padding: 0px;
  text-align: left;
  border-bottom: 0;

}

/* th {
  background-color: #ca1717; /* Slightly lighter black for header cells
} */

/* tbody tr:hover {
  background-color: #555; /* Slightly lighter background on row hover for better interaction
} */

.App {
  background-color: #121212; /* Dark background for the app */
  /*color: white;*/ /* Ensure text is white for readability */
  padding: 20px; /* Add some padding around the app content */
}

.tickButton, .crossButton {
  border: none;
  color: rgb(244, 241, 241);
  padding: 5px 10px;
  cursor: pointer; 
  margin-right: 5px; 
  background-color: green; 
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer; 
  margin-right: 5px; 
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
}

.tick:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3); /* Increase drop shadow on hover for a nice effect */
}



.cross {
  background-color: #CE1313; /* Red background for the cross */

}


/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .wrapper-login {
    width: 100%;
    margin: 10px; 
  }
  .tableHeaderCell, th, td {
    padding: 8px; 
    font-size: 14px; 
  }
}

@media screen and (max-width: 768px) {
  .wrapper-login {
    backdrop-filter: none; 
  }
  .tick, .cross {
    padding: 5px;
    font-size: 12px; 
  }
  
  .hide-on-mobile {
    display: none;
  }
}

  
  